<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Магазин продуктов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class='container-fluid'>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Магазин продуктов</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/basket/">Корзина</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/basket/orders">История заказов</a>
                        <a class="dropdown-item" href="/preferences/">Мои предпочтения</a>

                        <div class="dropdown-divider"></div>
                        <form action="/logout" method="post" class="form-inline">
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <input type="submit" class="dropdown-item" value="Выйти"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- body  -->

    <h2 align="center">Корзина</h2>

    {{#message3}}
    <div class="alert alert-success" role="alert">
        Сначала заполните корзину продуктами в <a class="alert-link" href="/">каталоге товаров</a>{{message3}}
    </div>
    {{/message3}}

    {{#message2}}
    <div class="alert alert-primary" role="alert">
        Ваш заказ успешно оформлен{{message2}}
    </div>
    {{/message2}}

    {{#message1}}
    <div class="alert alert-success" role="alert">
        Ваша корзина пуста. Добавить в неё продукты можно в <a class="alert-link" href="/">каталоге товаров</a>{{message1}}
    </div>
    {{/message1}}



    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Катерория</th>
            <th scope="col">Количество</th>
            <th scope="col">Размерность</th>
            <th scope="col">Цена за единицу</th>
            <th scope="col">Цена итоговая</th>
            <th scope="col">Калории</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {{#products}}
        <tr>
            <form action="/basket/update" method="post" class="form-inline">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="hidden" name="productBasket_id" value="{{productBasket.id}}" />
                <td>{{productBasket.product.name}}</td>
                <td>{{productBasket.product.prodType.russianValue}}</td>
                <td><input type="number" name="count" class="form-control" value="{{productBasket.count}}" step="{{productBasket.product.quantityStep}}"
                           min="{{productBasket.product.quantityStep}}" max="{{productBasket.product.quantity}}"></td>
                <td>{{productBasket.product.weightType.russianValue}}</td>
                <td>{{productBasket.product.price.price}}</td>
                <td>{{moneySum}}</td>
                <td>{{caloriesSum}}</td>
                <td>
                    <input type="submit" class="btn btn-primary" name="submit" value="Сохранить изменения" />&nbsp;
                    <input type="submit" class="btn btn-danger" name="submit" value="Удалить" />
                </td>
            </form>
        </tr>
        {{/products}}
        </tbody>
    </table>


    {{#messageConfirmError}}
    <div class="alert alert-danger" role="alert">
        Корзина не  удовлетворяет предпочтению: {{messageConfirmError}}
    </div>
    {{/messageConfirmError}}

    <form action="/basket/confirm" method="post" class="form-inline">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" class="btn btn-success" name="submit" value="Оформить покупку"/>
    </form>

    <!-- body end -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
